@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

body {
  background: Linear-gradient(230.65deg, #8a0808 27.49%, #fc2424 83.19%);
  font-family: "EB Garamond", serif;
}

.container {
  background-color: #bdbdbd;
  color: #000000;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 180px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 20px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 10px;
  background: Linear-gradient(230.65deg, #8a0808 27.49%, #fc2424 83.19%);
  border-radius: 100px;
  border: 2px solid #ffffff;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: Linear-gradient(230.65deg, #8a0808 27.49%, #fe2e2e 83.19%);
  margin-top: 28px;
  padding: 15px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

.projetos-item a {
  color: #000000;
  text-decoration: none;
}

.dark {
  background: Linear-gradient(236.85deg, #a50101 27.26%, #fa3737 96.03%);
}

.dark .container {
  background: #333439;
  color: #ffffff;
}

.dark .projetos {
  color: #000000;
}

.dark .tema button {
  background: Linear-gradient(236.85deg, #a50101 27.26%, #fa3737 96.03%);
  border: 2px solid #000000;
}